<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>jenkins1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Nop.Data.NopObjectContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ying0409lzqtqu7x5qqza.database.windows.net,1433;Initial Catalog=ying0409;User ID=yingadm@ying0409lzqtqu7x5qqza;Password=Tomsmp@3" Name="Data Source=tcp:ying0409lzqtqu7x5qqza.database.windows.net,1433;Initial Catalog=ying0409;User Id=yingadm@ying0409lzqtqu7x5qqza;Password=Tomsmp@3;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Nop.Data.NopObjectContext, Nop.Data" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Nop.Data.NopObjectContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ying0409lzqtqu7x5qqza.database.windows.net,1433;Initial Catalog=ying0409;User Id=yingadm@ying0409lzqtqu7x5qqza;Password=Tomsmp@3;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Nop.Data.NopObjectContext" />
  </ItemGroup>
</Project>